<div class="container">

    <a href="/pokemon/">Back to Favorites</a>

    <div class="name-box">
    <img src= <%= data.sprites.front_default %>
    <h2><%= data.name %></h2>
    </div>

    <div class="bio">
    <p class="specs">

        Base Experience: <%= data.base_experience %><br>

        Height: <%= data.height %><br>

        Weight: <%= data.weight %>
    </p>
    </div>

    <div class="skills">
        <p class="moves">

            Moves: <%= data.moves %>
        </p>

        <p class="abilities">
        Abilities: <%= data.abilities %>
        </p>
    </div>

    </div>
